<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Redirigiendo...</title>
    <meta http-equiv="refresh" content="0; URL=http://localhost:5047/Home/Dashboard" />
</head>
<body>
    Si no te redirige automáticamente, haz clic
    <a href="http://localhost:5047/Home/Dashboard">aquí</a>.
</body>
</html>
